.container {  display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "poster info"
      "poster cast";
    height: 200px;
    width: 250px;
  }

  .title {color: red; font-weight: bold;}

  .info-text {font-size: 10px;}

  .image { height: 100%; }
  
  .poster { grid-area: poster; }
  
  .info { grid-area: info; }
  
  .cast { grid-area: cast; }
  